<h1> Home of the Playlister</h1>
<nav>
  <button><a href='/songs'>All Songs</a></button>
  <button><a href='/artists'>All Artists</a></button>
  <button><a href='/genres'>All Genres</a></button>
</nav>
